::selection {
    background-color: rgba(255, 123, 145, 0.35);
}

/* Navbar start */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-toggler {
   background-color: aliceblue;
}

.bi-basket3 {
    font-size: 26px;
    cursor: pointer;
    color: rgb(255, 123, 145);
}



/* slider design start */
.carousel-item > img {
    height : 500px;
}

/* Tabletes Device */
@media screen and (min-width: 760px) and (max-width: 1000px) {
    .carousel-item > img {
        height : 500px;
        object-fit : cover;
    }
}


/*Mobile Phone Device */
@media screen and (min-width: 320px) and (max-width: 759px) {
    .carousel-item > img {
        height : 350px;
        object-fit : cover;
    }
}


/* slider design end */


#cartSidebar {
    width : 35%;
}

.offcanvas-body {
    position : relative;
}
.cart-items-list {
    max-height: 600px;
    overflow-y: auto;
    padding: 10px;
}
.cart-items-list::-webkit-scrollbar {
    display: none;
}

.checkout {
    position : absolute;
    bottom : 10px;
    left : 50%;
    transform : translateX(-50%);
}
.checkout  button {
    width : 300px;
}


/* Tabletes Device */
@media screen and (min-width: 760px) and (max-width: 1000px) {
    #cartSidebar {
        width : 50%;
    }

    .cart-items-list {
        max-height: 100%;
    }

    .checkout  button {
        width : 350px;
    }

    
}


/*Mobile Phone Device */
@media screen and (min-width: 320px) and (max-width: 759px) {
    #cartSidebar {
        width : 90%;
    }

    .cart-items-list {
        max-height: 100%;
    }

    .checkout  button {
        width : 300px;
        font-size : 13px;
    }
  
}

/* offcanvas end */


.category-content {
    margin-top: 50px;
}

.category-data {
     position: relative;
}

.category-data > .card > .description {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    opacity: 0.9;
    z-index: 15;

}

.category-data > .card > .opacity {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.261);
    z-index: 10;
}

.category-data > .card > .opacity-watch {
    width: 100%;
    height: 810px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.261);
    z-index: 10;
}

.category-data > .card {
    overflow: hidden;
}

.category-data > .card > img {
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.5s;
}

.category-data  > .card > .cate-watch {
    height: 810px;
    object-fit: cover;
    cursor: pointer;
}

/* Category Responsive Design */

/* Tabletes Device */
@media screen and (min-width: 760px) and (max-width: 1000px) {

    .category-data {
        padding : 0px;
    }

    .category-data > .card > img {
        height: 380px;
    }

    .category-data  > .card > .cate-watch {
        height: 380px;
    }
}

/* Tabletes Device */
@media screen and (min-width: 320px) and (max-width: 759px) {
    .category-data {
        padding : 0px;
    }
    .category-data > .card > img {
        height: 350px;
    }

    .category-data  > .card > .cate-watch {
        height: 350px;
    }
}

/* Category Responsive Design */


.category-data:hover > .card > img {
    transform: scale(1.1);
}


.product > .card {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.product .card img {
    height: 350px;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s;
}



.product > .card > .card-body > .detail {
    position: absolute;
    bottom: -101px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.762);
    transition: bottom 0.3s;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.product:hover > .card > .card-body > .detail {
    bottom: -1px;
}

.product:hover > .card > img{
    transform: scale(0.95);
}

/* Product Responsive Design */

/* Tabletes Device */
@media screen and (min-width: 760px) and (max-width: 1000px) {
    
    .product .card img {
        height : 420px;
    }
}

/* Mobiles Device */
@media screen and (min-width: 320px) and (max-width: 759px) {
    .product {
        padding : 0px;
    }

    .product .card img {
        height : 400px;
    }
}



/* Product Responsive Design */

.detail > i {
    font-size: 24px;
    color: rgb(220, 8, 217);
    font-weight: bold;
    margin: 0px 10px;

}

/*-------------------- Modal design start ----------------------*/

.modal-dialog {
    max-width: 50%;
}

.image-modal {
    width: 100%;
    height: 400px;
}


.qty-control > input {
    padding: 4px;
    /* border: none; */
    outline: none;
    text-align: center;
}

.qty-control > button {
    padding: 5px 15px;
    font-weight: 900;
}

.qty-control > button:active {
    transform: scale(1.05);
}


/* Modal Responsive Design */

/* Tabletes Device */
@media screen and (min-width: 760px) and (max-width: 1000px) {
    .modal-dialog {
        max-width: 80%;
    }

    .image-modal {
        height : 400px;
    }
}

/* Mobiles Device */
@media screen and (min-width: 320px) and (max-width: 759px) {
    .modal-dialog {
        max-width: 100%;
    }

    .image-modal {
        height : 380px;
    }
    
}


/*----------------- Modal design end ----------------------- */

#subscript {
    padding : 15.3px;
    outline : none;
    border : 1px solid green;
    border-radius : 5px;
    color: green;
    font-size : 18px;
    
}

 ::placeholder {
    color: green;
}



.footer {
    width : 100%;
    margin-top : 100px;
    background-color : black;
    color : white;
    padding : 50px;
}


